* {
    font-family: 'Open Sans', sans-serif;
}

main {
    margin: 10px;
    padding: 5px 7px 5px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80vh;
    margin: 0;
}

h1{
    text-align: center;
    font-size: 50px;
    margin-bottom: 10px;
    color:rgb(88, 28, 135);
}

input {
    text-align: right;
    background-color: white;
    width: 330px;
    margin-bottom: 10px;
    border-radius: 10px;
    font-size: 30px;
}

table {
    display: inline-block;
    padding: 20px;
    background-color: grey;
    border-radius: 10px;
    align-content: center;
}

.displaytable {
    display: table;
}

.displaytable-cell {
    display: table-cell;
}
  
.button {
    width: 60px;
    height: 35px;
    font-size: 20px;
    border-radius: 5px;
}

.blackbutton { 
    background-color: #60a5fa; 
    color: white;
}

.greenbutton {
    background-color: #91ff7d;
}

.greybutton {
    background-color: #cccccc;
}

.bluebutton {
    background-color: rgb(190, 243, 98);
}

.redbutton {
    background-color: #8b5fac;
}

/* Estilos base */
.cerrar-calcu {
    height: 40px;
    width: 40px;
    cursor: pointer;
    background-color: #aa00ff;
    padding: 1px;
    margin-left: 200px;
    border-radius: 20px; /* 3px en la configuración predeterminada de Tailwind */
    transition: background-color 100ms ease-in-out;
}

/* Estilos para el efecto hover */
.cerrar-calcu:hover {
    background-color: #7c7c7c; /* Cambia al color gris en hover, ajusta según sea necesario */
}

